* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.App {
  flex: 1;
}

.box-shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.react-time-picker__wrapper {
  border-radius: 8px;
  border-color: #444447 !important;
}

.outlet-container {
  width: 800px;
}

@media (max-width: 1076px) {
  .outlet-container {
    width: 95%;
  }
}
